@import "../../../styles/abstructs/variables";
.footer {
  width: 100vw;
  height: 3rem;
  .contentWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $second-font-family;
    font-size: 1.2rem;
    padding: 0 2rem;
    .link {
      margin-left: 1rem;
    }
  }
}
