@import '../../../styles/abstructs/variables';
@import '../../../styles/abstructs/mixins';

.header {
  position: fixed;
  width: 100vw;
  height: 5rem;
  top: 0;
  z-index: 10;
  background-color: rgba(245, 245, 245, 0.8);
  backdrop-filter: saturate(180%) blur(5px);
  border-bottom: 1px solid $main-bg-color;
  display: flex;
  align-items: center;
  @include tablet {
    height: 3rem;
  }

  .logoWrap {
    margin-right: auto;
    margin-left: 2rem;
    font-size: 2rem;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 0.3rem;
    @include smMobile {
      display: none;
    }
  }

  .nav {
    margin-left: auto;
    display: flex;
    @include smMobile {
      width: 100%;
      justify-content: space-between;
      padding: 0 1rem;
    }
  }
  .menu {
    margin-right: 2rem;
    font-size: 1.2rem;
    font-family: $second-font-family;
    color: $main-font-color;
    @include smMobile {
      margin-right: 0;
      font-size: 1rem;
    }
  }
}

.visible {
  visibility: visible;
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
