@import "../../../styles/abstructs/variables";
@import "../../../styles/abstructs/mixins";

.workSection {
  width: 100%;
  margin-bottom: $section-mb;
  padding-top: $section-pt;
  @include smTablet {
    margin-bottom: $section-mb-sm;
  }
  .workContainer {
    .title {
      margin-bottom: 4rem;
      border-bottom: 2px solid;
      @include smMobile {
        margin-bottom: 3rem;
      }
    }
    .projectWrap {
      cursor: pointer;
      padding: 1rem 0;
      @include tablet {
        padding: 0.5rem 0;
      }
      @include tablet {
        &:active {
          opacity: 0.6;
        }
      }
      .workTitle {
        transition: all 1s;
        @include mobile {
          margin-bottom: 0.5rem;
        }
        @include pc-min {
          &:hover {
            transform: translateX(2rem);
          }
          &:hover + .projectDetails {
            opacity: 1;
          }
        }
      }
      .projectDetails {
        margin-left: 2.5rem;
        opacity: 0;
        transition: all 1s;
        @include tablet {
          opacity: 1;
          margin-left: 0;
        }
        .techStackWrap {
          margin-top: 0.5rem;
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          font-family: $second-font-family;
          @include tablet {
            gap: 0.5rem;
            margin-top: 0.7rem;
          }
        }
      }
    }
  }
}
