@import "../../../styles/abstructs/variables";
@import "../../../styles/abstructs/mixins";

.aboutSection {
  width: 100%;
  margin-bottom: $section-mb;
  padding-top: $section-pt;
  @include smTablet {
    margin-bottom: $section-mb-sm;
  }
  .aboutContainer {
    width: 100%;
    .title {
      margin-bottom: 5rem;
      padding-left: 1rem;
      @include tablet {
        text-align: center;
        padding-left: 0;
      }
    }
    .imgDescriptionWrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @include tablet {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .imgWrap {
        position: relative;
        .imgBox {
          width: 350px;
          height: 350px;
          @include mobile {
            width: 250px;
            height: 250px;
          }
          border-radius: 50%;

          .image {
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
        .imgDecoration {
          width: 350px;
          height: 350px;
          @include mobile {
            width: 250px;
            height: 250px;
          }
          border-radius: 50%;
          position: absolute;
          top: 5%;
          left: 5%;
        }
      }
      .descriptionWrap {
        margin-left: 5rem;
        width: 100%;
        @include tablet {
          margin: 7rem 0 0;
        }
        .locationWrap {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          .location {
            margin-left: 0.2rem;
          }
        }
        .description {
          // width: 50vw;
          // @include tablet {
          //   text-align: center;
          // }
        }
      }
    }
  }
}
