$s-mb: 480px;
$sm: 640px;
$s-tb: 768px;
$tb: 1024px;
$pc: 1025px;

@mixin smMobile {
  @media screen and (max-width: $s-mb) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: $sm) {
    @content;
  }
}

@mixin smTablet {
  @media screen and (max-width: $s-tb) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tb) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: $pc) {
    @content;
  }
}
