@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&display=swap');
// color
$main-bg-color: whitesmoke;
$second-bg-color: rgb(240, 235, 235);
$main-font-color: #333333;
$light-gray: rgb(177, 175, 175);
$dark-gray: #292e49;

// font family
$main-font-family: "Playfair Display", serif;
$second-font-family: "Montserrat", sans-serif;

// margin, padding
$section-pt: 5rem;
$section-mb: 20rem;
$section-mb-sm: 10rem;
