@import "../styles/abstructs/variables";
@import "../styles//abstructs/animation";
.container {
  width: 100vw;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: $main-font-color;
  padding: 0 2rem;
  .heroSection {
    position: relative;
    margin-bottom: $section-mb;
    padding-top: $section-pt;
    display: flex;
    .heroWrap {
      width: 100%;
      overflow: hidden;
      .heroFName {
        animation: slideLeftToRight 0.7s;
        padding: 1rem 0;
      }
      .heroLName {
        animation: rightToLeft 0.7s;
        padding: 1rem 0;
      }
      .jobPositionWrap {
        overflow: hidden;
        height: auto;
        .jobPosition {
          padding: 1rem 0;
          margin-top: 0%;
          animation: bottomToTop 2s;
        }
      }
    }
    .arrowWrap {
      .arrow {
        cursor: pointer;
        width: 50px;
        height: 100%;
        display: grid;
        overflow: hidden;
        &::before,
        &::after {
          content: "";
          grid-area: 1/1;
          background: $light-gray;
          clip-path: polygon(
            52% 0,
            52% 80%,
            70% 80%,
            50% 100%,
            30% 80%,
            48% 80%,
            48% 0
          );
          animation: arrowAnimation 2s infinite;
          transform: translate(0, calc(0% + var(--s, 0%)));
        }
        &::after {
          --s: -100%;
        }
      }
    }
  }
  .aboutSection {
    width: 100%;
    margin-bottom: $section-mb;
    padding-top: $section-pt;
    .aboutContainer {
      padding: 0 5rem;
      .title {
        margin-bottom: 5rem;
        padding-left: 1rem;
      }
      .imgDescriptionWrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .imgWrap {
          position: relative;
          .imgBox {
            width: 300px;
            height: 300px;
            border-radius: 50%;

            .image {
              border-radius: 50%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
            }
          }
          .imgDecoration {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            position: absolute;
            top: 10%;
            left: 8%;
          }
        }
        .descriptionWrap {
          margin-left: 5rem;
          .locationWrap {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            .location {
              margin-left: 0.2rem;
            }
          }
          .description {
            width: 50vw;
          }
        }
      }
    }
  }
  .workSection {
    width: 100%;
    margin-bottom: $section-mb;
    padding-top: $section-pt;
    .workContainer {
      .title {
        margin-bottom: 4rem;
        border-bottom: 2px solid;
      }
      .projectWrap {
        cursor: pointer;
        padding: 1rem 0;
        .workTitle {
          transition: all 1s;
          &:hover {
            transform: translateX(2rem);
          }

          &:hover + .projectDetails {
            opacity: 1;
          }
        }
        .projectDetails {
          margin-left: 2.5rem;
          opacity: 0;
          transition: all 1s;
          .techStackWrap {
            margin-top: 0.5rem;
            display: flex;
            gap: 1rem;
            font-family: $second-font-family;
          }
        }
      }
    }
  }
  .contactSection {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contactWrap {
      text-align: center;
      .contactTitle {
        font-family: $second-font-family;
      }
      .emailLink {
        padding-bottom: 0.3rem;
        border-bottom: solid 2.5px;
      }
    }
  }
}
