@import "../styles/abstructs/variables";
@import "../styles//abstructs/animation";
@import "../styles/abstructs/mixins";
.container {
  width: 100vw;

  .main {
    display: flex;
    flex-direction: column;
    color: $main-font-color;
    padding: 0 2rem;
  }
}
