@import "../styles//abstructs//variables";
.container {
  padding: 0 2rem;
}

// .main {
//   min-height: 100vh;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   // align-items: center;
//   color: $title-color;

//   .titlesWrap {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-bottom: 2rem;
//     .name {
//       background: #4568dc;
//       background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
//       background: linear-gradient(to right, #b06ab3, #4568dc);
//       background-clip: text;
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//       font-weight: 800;
//     }
//   }

//   .skillsWrap {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-bottom: 2rem;
//     .skillsIcons {
//       font-size: 1.5rem;
//       display: flex;
//       justify-content: center;
//       gap: 0.5rem;
//     }
//   }
// }

.main {
  // min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: $title-color;
  margin-top: 4rem;
  width: 100vw;
  .heroSection {
    width: 100%;
    position: relative;
    .heroNames {
      background: #4568dc;
      background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
      background: linear-gradient(to right, #b06ab3, #4568dc);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // margin-bottom: 4rem;
    }
    .heroJobPosition {
      background: #536976;
      background: -webkit-linear-gradient(to left, #292e49, #536976);
      background: linear-gradient(to left, #292e49, #536976);

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
