@import "./abstructs/mixins";

.headingJumbo {
  font-size: 15vw;
  text-transform: uppercase;
  line-height: 15rem;
  letter-spacing: 1rem;
  font-weight: 500;
  @include tablet {
    line-height: 10rem;
    letter-spacing: 0.7rem;
  }
  @include smTablet {
    line-height: 7rem;
    letter-spacing: 0.5rem;
  }
  @include mobile {
    line-height: 5rem;
    letter-spacing: 0.4rem;
  }
  @include smMobile {
    letter-spacing: 0.3rem;
  }
}

.headingSecJumbo {
  font-size: 9vw;
  line-height: 9rem;
  letter-spacing: 0.12rem;
  font-weight: 100;
  @include tablet {
    line-height: 8rem;
    letter-spacing: 0.1rem;
  }
  @include smTablet {
    line-height: 6rem;
  }
  @include mobile {
    letter-spacing: 0.05rem;
    line-height: 3rem;
  }
}

.heading3Xl {
  font-size: 3rem;
  letter-spacing: 0.12rem;
  font-weight: 100;
}

.heading2Xl {
  font-size: 2.5vw;
  letter-spacing: 0.12rem;
  font-weight: 100;
  @include smTablet {
    font-size: 3.5vw;
  }
  @include mobile {
    font-size: 4vw;
  }
}

.heading3XlFixed {
  font-size: 3rem;
  letter-spacing: 0.12rem;
  font-weight: 100;
  @include smTablet {
    font-size: 2.5rem;
  }
  @include mobile {
    font-size: 2rem;
  }
  @include smMobile {
    font-size: 1.2rem;
  }
}

.heading2XlFixed {
  font-size: 2.5rem;
  letter-spacing: 0.12rem;
  font-weight: 100;
  @include smTablet {
    font-size: 2rem;
  }
  @include mobile {
    font-size: 1.5rem;
  }
}

.headingXlFixed {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  @include smTablet {
    font-size: 1.5rem;
  }
  @include mobile {
    font-size: 1.2rem;
  }
  @include smMobile {
    font-size: 1rem;
  }
}

.headingXl {
  font-size: 1.8vw;
  letter-spacing: 0.1rem;
  @include smTablet {
    font-size: 2.5vw;
  }
  @include mobile {
    font-size: 3vw;
  }
}

.headingLg {
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  @include mobile {
    font-size: 1.2rem;
  }
}

.headingMd {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  @include mobile {
    font-size: 1rem;
  }
}

.textMd {
  font-size: 1.3rem;
}

.gradientPinkBlue {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
}

.gradientGray {
  background: #536976;
  background: -webkit-linear-gradient(to left, #292e49, #536976);
  background: linear-gradient(to left, #292e49, #536976);
}
.gradientTextKit {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
