.heading2Xl {
  font-size: 2.5rem;
  margin: 1rem auto;
}

.headingXl {
  font-size: 2rem;
  letter-spacing: -0.05rem;
  margin: 1rem auto;
}

.headingLg {
  font-size: 1.5rem;
  margin: 1rem auto;
}

.headingMd {
  font-size: 1.2rem;
}
