.headingJumbo {
  font-size: 15vw;
  text-transform: uppercase;
  line-height: 15rem;
  letter-spacing: 1rem;
  font-weight: 500;
}

.headingSecJumbo {
  font-size: 9vw;
  line-height: 9rem;
  letter-spacing: 0.12rem;
  font-weight: 100;
}

.heading3Xl {
  font-size: 3vw;
  letter-spacing: 0.12rem;
  font-weight: 100;
}

.heading2Xl {
  font-size: 2.5vw;
  letter-spacing: 0.12rem;
  font-weight: 100;
}

.headingXl {
  font-size: 2rem;
  margin: 1rem auto;
}

.headingLg {
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  margin: 1rem auto;
}

.headingMd {
  font-size: 1.2rem;
}

.textMd {
  font-size: 1.3rem;
}

.gradientPinkBlue {
  background: #4568dc;
  background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
  background: linear-gradient(to right, #b06ab3, #4568dc);
}

.gradientGray {
  background: #536976;
  background: -webkit-linear-gradient(to left, #292e49, #536976);
  background: linear-gradient(to left, #292e49, #536976);
}
.gradientTextKit {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
